@model List<ResultQuestDto>
@{
    int count = 0;
}

<div class="accordion" id="accordionExample">
            @foreach (var item in Model)
            {
                count++;

                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading_@count">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_@count" aria-expanded="true" aria-controls="collapse_@count">
                            @item.Question
                        </button>
                    </h2>
            <div id="collapse_@count" class="accordion-collapse collapse show" aria-labelledby="heading_@count" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                    @item.Answer
                        </div>
                    </div>
                </div>
            }
</div>